<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>上吉佑皮革有限公司-首页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-body layuiadmin-card-list">
            <div class="layuiadmin-card-left">
              <span class="layuiadmin-big-font" style="background-color:#99CC00;">
                <i class="layui-icon layui-icon-cart" style="font-size: 3.5em; color: #2A2F43;position: relative;top: 40px;left: 25px;font-weight: bold;"></i>
              </span>
            </div>
            <div class="layuiadmin-card-right">
              <p style="color:#8A8A8A;font-size:2em;">52,160</p>
              <p style="color:#000;">Sales</p>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-body layuiadmin-card-list">
            <div class="layuiadmin-card-left">
              <span class="layuiadmin-big-font" style="background-color:#B3BEE8;">
                <i class="layui-icon layui-icon-template-1" style="font-size: 3.5em; color: #EB525D;position: relative;top: 40px;left: 25px;font-weight: bold;"></i>
              </span>
            </div>
            <div class="layuiadmin-card-right">
              <p style="color:#8A8A8A;font-size:2em;">745</p>
              <p style="color:#000;">Projects</p>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-body layuiadmin-card-list">
            <div class="layuiadmin-card-left">
              <span class="layuiadmin-big-font" style="background-color:#FF9554;">
                <i class="layui-icon layui-icon-reply-fill" style="font-size: 3.5em; color: #fff;position: relative;top: 40px;left: 25px;font-weight: bold;"></i>
              </span>
            </div>
            <div class="layuiadmin-card-right">
              <p style="color:#8A8A8A;font-size:2em;">15,823</p>
              <p style="color:#000;">Comments</p>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-body layuiadmin-card-list">
              <div class="layuiadmin-card-left">
                <span class="layuiadmin-big-font" style="background-color:#495275;">
                  <i class="layui-icon layui-icon-group" style="font-size: 3.5em; color: #FFC575;position: relative;top: 40px;left: 18px;font-weight: bold;"></i>
                </span>
              </div>
              <div class="layuiadmin-card-right">
                <p style="color:#8A8A8A;font-size:2em;">7462</p>
                <p style="color:#000;">Vitistors</p>
              </div>
          </div>
        </div>
      </div>
      <div class="layui-col-md12">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
              <div class="layui-card">
                <div class="layui-card-header">数据概览</div>
                <div class="layui-card-body"> 
                  <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                    <div carousel-item id="LAY-index-dataview">
                      <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="layui-col-md6">
              <div class="layui-card">
                <div class="layui-card-header">效果报告</div>
                <div class="layui-card-body layadmin-takerates">
                  <div class="layui-progress" lay-showPercent="yes">
                    <h3>转化率（日同比 28% <span class="layui-edge layui-edge-top" lay-tips="增长" lay-offset="-15"></span>）</h3>
                    <div class="layui-progress-bar" lay-percent="65%"></div>
                  </div>
                  <div class="layui-progress" lay-showPercent="yes">
                    <h3>签到率（日同比 11% <span class="layui-edge layui-edge-bottom" lay-tips="下降" lay-offset="-15"></span>）</h3>
                    <div class="layui-progress-bar" lay-percent="32%"></div>
                  </div>
                </div>
              </div>
              <div class="layui-card">
                <div class="layui-card-header">实时监控</div>
                <div class="layui-card-body layadmin-takerates">
                  <div class="layui-progress" lay-showPercent="yes">
                    <h3>CPU使用率</h3>
                    <div class="layui-progress-bar" lay-percent="58%"></div>
                  </div>
                  <div class="layui-progress" lay-showPercent="yes">
                    <h3>内存占用率</h3>
                    <div class="layui-progress-bar layui-bg-red" lay-percent="90%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="layui-col-md12">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">USER LISTS</div>
              <div class="layui-card-body">
                <ul class="collection">
                  <li class="collection-item">
                    <p>1超期未对账报警</p>
                    <a href="javascript:;"class="secondary-content">
                      <span class="layui-badge">9</span>
                    </a>
                  </li>
                  <li class="collection-item">
                      <span class="icon"><i class="layui-icon layui-icon-diamond" style="font-size: 30px;position: relative;top: 12px;"></i> </span>
                      <span class="title">Title</span>
                      <p>First Line<br>Second Line</p>
                      <a href="javascript:;"class="secondary-content">
                        <span class="layui-badge">9</span>
                      </a>
                    </li>
                    <li class="collection-item">
                      <span class="icon"><i class="layui-icon layui-icon-diamond" style="font-size: 30px;position: relative;top: 12px;"></i> </span>
                      <span class="title">Title</span>
                      <p>First Line<br>Second Line</p>
                      <a href="javascript:;"class="secondary-content">
                        <span class="layui-badge">9</span>
                      </a>
                    </li>
                    <li class="collection-item">
                      <span class="icon"><i class="layui-icon layui-icon-diamond" style="font-size: 30px;position: relative;top: 12px;"></i> </span>
                      <span class="title">Title</span>
                      <p>First Line<br>Second Line</p>
                      <a href="javascript:;"class="secondary-content">
                        <span class="layui-badge">9</span>
                      </a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">本周活跃用户列表</div>
              <div class="layui-card-body">
                <table class="layui-table layuiadmin-page-table" lay-skin="line">
                  <thead>
                    <tr>
                      <th>用户名</th>
                      <th>最后登录时间</th>
                      <th>状态</th>
                      <th>获得赞</th>
                    </tr> 
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="first">胡歌</span></td>
                      <td><i class="layui-icon layui-icon-log"> 11:20</i></td>
                      <td><span>在线</span></td>
                      <td>22 <i class="layui-icon layui-icon-praise"></i></td>
                    </tr>
                    <tr>
                      <td><span class="second">鹿晗</span></td>
                      <td><i class="layui-icon layui-icon-log"> 10:40</i></td>
                      <td><span>在线</span></td>
                      <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                    </tr>
                    <tr>
                      <td><span class="third">靳东</span></td>
                      <td><i class="layui-icon layui-icon-log"> 01:30</i></td>
                      <td><i>离线</i></td>
                      <td>66 <i class="layui-icon layui-icon-praise"></i></td>
                    </tr>
                    <tr>
                      <td>吴尊</td>
                      <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                      <td><i>离线</i></td>
                      <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                    </tr>
                    <tr>
                      <td><span class="third">贤心</span></td>
                      <td><i class="layui-icon layui-icon-log"> 01:30</i></td>
                      <td><i>离线</i></td>
                      <td>66 <i class="layui-icon layui-icon-praise"></i></td>
                    </tr>
                    <tr>
                        <td><span class="second">🦌</span></td>
                        <td><i class="layui-icon layui-icon-log"> 10:40</i></td>
                        <td><span>在线</span></td>
                        <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                      </tr>
                    <tr>
                      <td>邓书平</td>
                      <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                      <td><i>离线</i></td>
                      <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                    </tr>
                    <tr>
                      <td><span class="first">甜美系芦苇联盟</span></td>
                      <td><i class="layui-icon layui-icon-log"> 11:20</i></td>
                      <td><span>在线</span></td>
                      <td>22 <i class="layui-icon layui-icon-praise"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js?t=1"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console']);
  </script>
</body>
</html>

