/* 基本资料的index.html页面的样式 */
.wrapper{
    background-color: #fff;
}
.card-item-hd{
    height: 42px;
    line-height: 42px;
    color: #333;
    padding: 0 15px;
    font-size: 14px;
    border-top: 1px solid #edecec;
}
.card-item-bd dl{
    overflow: hidden;
    padding: 15px 0;
}
.card-item-bd dd{
    float: left;
    margin-left: 30px;
    text-align: center;
}
.card-item-bd dd img{
    width: 55px;
    height: 55px;
}
.card-item-bd dd span{
    display: block;
    font-size: 12px;
    color: #333;
    margin-top: 4px;
}