<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上吉佑皮革有限公司-基本资料</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css">
    <link rel="stylesheet" href="../../css/basic.css">
</head>
<body>
<div class="wrapper">
    <div class="card-item">
        <div class="card-item-hd">往来信息</div>
        <div class="card-item-bd">
            <dl>
                <dd data-name="contacts"> 
                    <a lay-href="component/basic/contacts/contact.html">
                        <img src="../../img/D_system/D_contacts.png" alt="往来类型">
                        <span>往来类型</span>
                    </a>
                </dd>
                <dd data-name="contacts"> 
                    <a lay-href="component/basic/contacts/brand.html">
                        <img src="../../img/S_system/S_brand.png" alt="品牌资料">
                        <span>品牌资料</span>
                    </a>
                </dd>
                <dd data-name="contacts">
                    <a lay-href="component/basic/contacts/quality.html">
                        <img src="../../img/D_system/D_standard.png" alt="品质标准">
                        <span>品质标准</span>
                    </a>
                </dd>
                <dd data-name="contacts">    
                    <a lay-href="component/basic/contacts/customer.html">
                        <img src="../../img/A_system/客户资料.png" alt="客户初始化">
                        <span>客户初始化</span>
                    </a>
                </dd>
                <dd data-name="contacts">  
                    <a lay-href="component/basic/contacts/supplier.html">
                        <img src="../../img/P_system/supplier.png" alt="供应初始化">
                        <span>供应商初始化</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="card-item">
        <div class="card-item-hd">货品信息</div>
        <div class="card-item-bd">
            <dl>
                <dd data-name="good"> 
                    <a lay-href="component/basic/good/goods.html">
                        <img src="../../img/P_system/P_category.png" alt="货品类别">
                        <span>货品类别</span>
                    </a>
                </dd>
                <dd data-name="good"> 
                    <a lay-href="component/basic/good/good_info.html">
                        <img src="../../img/P_system/goods_data.png" alt="货品资料">
                        <span>货品资料</span>
                    </a>
                </dd>
                <dd data-name="good">
                    <a lay-href="component/basic/good/series.html">
                        <img src="../../img/P_system/supplier.png" alt="系列资料">
                        <span>系列资料</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="card-item">
        <div class="card-item-hd">仓库信息</div>
        <div class="card-item-bd">
            <dl>
                <dd data-name="warehouse"> 
                    <a lay-href="component/basic/warehouse/warehouse.html">
                        <img src="../../img/P_system/supplier.png" alt="仓库资料">
                        <span>仓库资料</span>
                    </a>
                </dd>
                <dd data-name="warehouse"> 
                    <a lay-href="component/basic/warehouse/cargo_loaction.html">
                        <img src="../../img/B_system/B_goods.png" alt="货位资料">
                        <span>货位资料</span>
                    </a>
                </dd>
                <dd data-name="warehouse"> 
                    <a lay-href="component/basic/warehouse/outgoing.html">
                        <img src="../../img/B_system/B_iotype.png" alt="出入库类型">
                        <span>出入库类型</span>
                    </a>
                </dd>
                <dd data-name="warehouse">
                    <a lay-href="component/basic/warehouse/transport.html">
                        <img src="../../img/E_system/E_transport.png" alt="运输方式">
                        <span>运输方式</span>
                    </a>
                </dd>
                <dd data-name="warehouse">
                    <a lay-href="component/basic/warehouse/logistics.html">
                        <img src="../../img/S_system/S_shipment.png" alt="物流公司">
                        <span>物流公司</span>
                    </a>
                </dd>
                <dd data-name="warehouse">
                    <a lay-href="component/basic/warehouse/stock.html">
                        <img src="../../img/B_system/B_inventory.png" alt="库存初始化">
                        <span>库存初始化</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="card-item">
        <div class="card-item-hd">财务信息</div>
        <div class="card-item-bd">
            <dl>
                <dd data-name="finance"> 
                    <a lay-href="component/basic/finance/account.html">
                        <img src="../../img/A_system/A_cashier.png" alt="账户资料">
                        <span>账户资料</span>
                    </a>
                </dd>
                <dd data-name="finance"> 
                    <a lay-href="component/basic/finance/settlement.html">
                        <img src="../../img/P_system/method.png" alt="结算方式">
                        <span>结算方式</span>
                    </a>
                </dd>
                <dd data-name="finance"> 
                    <a lay-href="component/basic/finance/currency.html">
                        <img src="../../img/F_system/F_currency.png" alt="币种资料">
                        <span>币种资料</span>
                    </a>
                </dd>
                <dd data-name="finance">
                    <a lay-href="component/basic/finance/cost.html">
                        <img src="../../img/F_system/F_project.png" alt="费用项目">
                        <span>费用项目</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="card-item">
        <div class="card-item-hd">部门员工</div>
        <div class="card-item-bd">
            <dl>
                <dd data-name="department"> 
                    <a lay-href="component/basic/department/department.html">
                        <img src="../../img/D_system/D_department.png" alt="部门资料">
                        <span>部门资料</span>
                    </a>
                </dd>
                <dd data-name="department"> 
                    <a lay-href="component/basic/department/staff.html">
                        <img src="../../img/D_system/D_employees.png" alt="员工资料">
                        <span>员工资料</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="card-item">
        <div class="card-item-hd">生产信息</div>
        <div class="card-item-bd">
            <dl>
                <dd data-name="production"> 
                    <a lay-href="component/basic/production/workshop.html">
                        <img src="../../img/H_system/H_workshop.png" alt="车间资料">
                        <span>车间资料</span>
                    </a>
                </dd>
                <dd data-name="production"> 
                    <a lay-href="component/basic/production/team.html">
                        <img src="../../img/D_system/D_team.png" alt="班组资料">
                        <span>班组资料</span>
                    </a>
                </dd>
                <dd data-name="production"> 
                    <a lay-href="component/basic/production/work.html">
                        <img src="../../img/D_system/D_workcenter.png" alt="工作中心">
                        <span>工作中心</span>
                    </a>
                </dd>
                <dd data-name="production">
                    <a lay-href="component/basic/production/procedure.html">
                        <img src="../../img/D_system/D_process.png" alt="工序资料">
                        <span>工序资料</span>
                    </a>
                </dd>
                <dd data-name="production"> 
                    <a lay-href="component/basic/production/process.html">
                        <img src="../../img/D_system/D_proflow.png" alt="工艺流程">
                        <span>工艺流程</span>
                    </a>
                </dd>
                <dd data-name="production">
                    <a lay-href="component/basic/production/materiel.html">
                        <img src="../../img/H_system/H_bom.png" alt="物流清单">
                        <span>物流清单</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
</div>
<script src="../../../layuiadmin/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index']);
</script>
</body>
</html>