<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上吉佑皮革有限公司-销售订单明细表</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/common.css">
</head>
<body style="overflow-y:hidden">
<!-- 查询框 -->
<div class="layui-form layui-anim layui-anim-fadein layui-anim-upbit" lay-filter="search-form" id="search-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-label">起始日期</div>
            <div class="layui-input-inline">
                <input type="text" name="start_date" id="search-form-date" lay-verify="start_date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">终止日期</div>
            <div class="layui-input-inline">
                <input type="text" name="end_date" id="search-form-date1" lay-verify="end_date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">单号</div>
            <div class="layui-input-inline">
                <input type="text" name="num" lay-verify="num"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">客户</div>
            <div class="layui-input-inline">
                <input type="text" name="customer" lay-verify="customer"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">业务员</div>
            <div class="layui-input-inline">
                <input type="text" name="salesman" lay-verify="salesman"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">货品名称</div>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="name"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">货品编码</div>
            <div class="layui-input-inline">
                <input type="text" name="code" lay-verify="code"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">品牌</div>
            <div class="layui-input-inline">
                <input type="text" name="brand" lay-verify="brand"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">规格</div>
            <div class="layui-input-inline">
                <input type="text" name="specifications" lay-verify="specifications"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">部门</div>
            <div class="layui-input-inline">
                <input type="text" name="department" lay-verify="department"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">到货日期</div>
            <div class="layui-input-inline">
                <input type="text" name="arrival_date" id="search-form-date2" lay-verify="arrival_date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">制单人</div>
            <div class="layui-input-inline">
                <input type="text" name="single" lay-verify="single"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-label">审核状态</div>
            <div class="layui-input-inline">
                <select name="examine" lay-verify="examine">
                    <option value=""></option>
                    <option value="">未审核</option>
                    <option value="">已审核</option>
                </select> 
            </div>
        </div>
    </div>
    <div class="search-btn">
        <button class="layui-btn layuiadmin-btn-contact" lay-submit lay-filter="LAY-contact-search">查询</button>
        <button class="layui-btn layui-btn-normal">清空</button>
    </div>
</div>
<div class="layui-fluid" id="module">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-sm12" style="padding-bottom:0;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-checkbox" lay-even lay-filter="test-table-checkbox"></table>
                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                            <a lay-href="component/sale/sale_order.html" style="display:inline-block;">
                                <button class="layui-btn layuiadmin-btn-contact">
                                    <span>新增</span>
                                    <span style="display:none;">销售订单</span>
                                </button>  
                            </a>
                            <button class="layui-btn layui-btn-normal layuiadmin-btn-contact" id="search_btn" data-type="search_btn">查询</button>      
                        </div>
                    </script>
                    <script type="text/html" id="buttonTpl">
                        {{#  if(d.status){ }}
                            <button class="layui-btn layui-btn-xs">已审核</button>
                        {{#  } else { }}
                            <button class="layui-btn layui-btn-primary layui-btn-xs">未审核</button>
                        {{#  } }}
                    </script>    
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12" style="padding-top:0;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="table" lay-even lay-filter="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../js/jquery-3.2.0.min.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','table','laydate','form',],function(){
        var $=layui.$;
        var admin=layui.admin;
        var form=layui.form;
        var table=layui.table;
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
        elem: '#search-form-date'
        });
        laydate.render({
        elem: '#search-form-date1'
        });
        laydate.render({
        elem: '#search-form-date2'
        });
        table.render({
            elem: '#test-table-checkbox', 
            height: 'full-185',   //高度最大适应
            url: '/demo/table/user/', //接口地址 layui.setter.base + 'json/table/user30.js'
            page: true, //开启分页
            limit:30,  //每页显示的条数
            cellMinWidth: 100, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            toolbar:'#toolbarDemo',
            cols: [[ //表头
                {type:'numbers', fixed: 'left'},
                {type: 'checkbox', fixed: 'left'},
                {field:'code', title: '开单日期'},
                {field: 'name', title: '销售单号'},
                {field:'subordinate', title: '状态'},
                {field: 'founder', title: '客户名称'} ,
                {field: 'establish', title: '货品编号'},
                {field: 'modifier', title: '货品名称'},
                {field: 'modify', title: '规格'},
                {field:'code', title: '品牌'},
                {field: 'name', title: '颜色单号'},
                {field:'subordinate', title: '颜色名称'},
                {field: 'founder', title: '单位'} ,
                {field: 'establish', title: '单价'},
                {field: 'modifier', title: '订货数量'},
                {field: 'modify', title: '订货金额'},
                {field: 'modify', title: '出货数量'},
                {field:'code', title: '出货金额'},
                {field: 'name', title: '中止数量'},
                {field:'subordinate', title: '中止金额'},
                {field: 'founder', title: '未出货数量'} ,
                {field: 'establish', title: '未出货金额'},
                {field: 'modifier', title: '金额'},
                {field: 'modify', title: '发货日期'},
                {field: 'modify', title: '中止'},
                {field:'code', title: '物性要求'},
                {field: 'name', title: '化性要求'},
                {field:'subordinate', title: '联系人'},
                {field: 'founder', title: '联系电话'} ,
                {field: 'establish', title: '结算方式'},
                {field: 'modifier', title: '币种'},
                {field: 'modify', title: '运输方式'},
                {field: 'modify', title: '物流公司'},
                {field:'code', title: '制单机构'},
                {field: 'name', title: '部门'},
                {field:'subordinate', title: '业务员'},
                {field: 'founder', title: '审核人'} ,
                {field: 'establish', title: '创建人'},
                {field: 'modifier', title: '创建日期'},
                {field: 'modify', title: '发货日期'},
                {field: 'modifier', title: '修改人'},
                {field: 'modify', title: '修改日期'},
            ]]
        });
        table.render({
            elem: '#table', 
            height: 'full-1200',   //高度最大适应
            url: '/demo/table/user/', //接口地址 layui.setter.base + 'json/table/user30.js'
            cellMinWidth: 100, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols: [[ //表头
            {type:'numbers', fixed: 'left'},
                {type: 'checkbox', fixed: 'left'},
                {field:'code', title: '货品编号'},
                {field:'code1', title: '颜色编号'},
                {field: 'name', title: '货品名称'},
                {field: 'color', title: '颜色'} ,
                {field: 'specifications', title: '规格'},
                {field: 'category', title: '货品类别'},
                {field: 'material', title: '客户材料名称'},
                {field: 'type', title: '型体号'},
                {field: 'brand', title: '品牌'},
                {field: 'light', title: '对色光源'},
                {field:'shoot', title: '鞋型'},
                {field: 'product', title: '产品工艺'},
                {field: 'use', title: '使用部位'},
                {field: 'color_fastness', title: '色牢度'} ,
                {field: 'unit', title: '单位'},
                {field: 'order', title: '订单数量'},
                {field: 'number', title: '允交数量'},
                {field: 'price', title: '单价'},
                {field: 'sum', title: '金额'},
                {field: 'cost', title: '参考成本'} ,
                {field: 'delivery', title: '交货日期'},
                {field: 'production', title: '生产日期'},
                {field: 'shipment', title: '已出货数量'},
                {field: 'production_num', title: '生产数量'},
                {field: 'finishment', title: '完工数量'},
                {field: 'weight', title: '克重'},
                {field: 'lngredients', title: '成份'},
            ]]
        });
        //监听查询
        form.on('submit(LAY-contact-search)',function(data){
            var field=data.field;
            //执行重载
            table.reload('test-table-checkbox',{
                where:field
            });
        });
        //事件
        var active={
            search_btn:function(){
                $('#search-form').toggle();
            }
        }
        $('.layui-btn.layuiadmin-btn-contact').on('click',function(){
            var type=$(this).data('type');
            active[type]?active[type].call(this):'';
        });
    });
</script>
</body>
</html>